# Runtime & logs
*.log

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/
dist/
build/

# Dev environment
.venv/
.env
.env.*

# Data & results (mount as volumes at runtime instead)
results/
src/bio_pipeline.egg-info

# Version control
.git/
.gitignore

# IDE
.vscode/
.idea/