# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDEs
.idea/
.vscode/

# Project specific
*.log
.DS_Store
.env

# Data & results (montar como volumes em runtime)
data/
results/

src/mobile_elements_detector.egg-info